{% set nid = row._entity.nid[0].value %}

{% if row._entity.field_cuba_bod_title[0] %}
  {% set bod_title = row._entity.field_cuba_bod_title[0] %}
{% endif %}

{% if row._entity.field_cuba_bod_picture[0] %}
  {% set picture = "content" %}
{% endif %}

<div class="cuba-bod-view__row">
  <div class="cuba-bod-view__card">
    {% for key, field in fields %}
      {% if key == 'field_cuba_bod_picture' %}
        <div class="cuba-bod-view__picture">
          <a href="{{ path('entity.node.canonical', {'node': nid}) }}">
            {%  if picture == "content" %}
              {{ field.content }}
            {% else %}
              <img src="/{{ active_theme_path() }}/images/default_board_member.jpg" alt="Member does not have picture">
            {% endif %}
          </a>
        </div>
      {% endif %}
      {% if key == 'title' %}
        <div class="cuba-bod-view__titles">
          <h2><a href="{{ path('entity.node.canonical', {'node': nid}) }}">{{ field.content }}{% if bod_title %} ({{ fields.field_cuba_bod_title.content }}){% endif %}</a></h2>
          <div class="cuba-bod-view__university-position">
            {{ fields.field_cuba_bod_uni_position.content }}
          </div>

          <div class="cuba-bod-view__university-position">
            {{ fields.field_cuba_bod_university.content }}
          </div>
          <div class="cuba-bod-view__profile">
            <button class="button"><a href="{{ path('entity.node.canonical', {'node': nid}) }}">View Profile</a></button>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
